<p>Title: <%= song.title %> - <em><%= song.duration %></em>


<%= link_to "Show Page", album_song_path(@album, song) unless controller_name == "songs" %>

<%= link_to	"Edit", edit_album_song_path(@album, song) if controller_name == "songs" %>

<%= link_to "Delete Song", album_song_path(@album), method: :delete, data: { confirm: "Are you sure?" } %>



</p>